<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Login.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">E-Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/shoppin" >Shop Now!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/YourCart">Your Cart</a>
                    </li>
                </ul>
                    <li class="nav-item ml-auto">
                        <a class="nav-link btn btn-primary" href="/profile" th:if="${session.person != null}">
                            <i class="fas fa-user"></i> Account
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="/register" th:if="${session.person == null}">
                            <i class="fas fa-user-plus"></i> Register
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
</div>

<div class="context">
    <h2>Login</h2>
        <form th:action="@{/login}" method="post" th:object="${person}">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Ievadi savu E-pastu" th:field="*{email}">
            <p class="text-error" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Ievadiet savu paroli" th:field="*{password}">
            <p class="text-error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>

            <a href="/register" class="button">Don't have an account?</a>

            <input type ="submit" value="Pieslēgties">
        </form>
    </div>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MmUjv89RnD2IKxVgRNbdd8x9f5IFooz4wZChHz3LubVy4DKlxK57s7sxg6HS/6v+" crossorigin="anonymous"></script>
</body>
</html>