<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/Login.css" type="text/css">
    <link rel="stylesheet" href="/css/searchStyle.css">
</head>
<body>
    <div class="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">E-Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/shoppin" >Shop Now!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/YourCart">Your Cart</a>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0 ml-auto" id="searchForm">
                    <div class="input-group">
                        <input class="form-control" type="search" id="productSearch" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form> -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="/login" th:if="${session.person == null}">
                            <i class="fas fa-user-plus"></i> Login
                        </a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link btn btn-primary" href="/profile" th:if="${session.person != null}">
                            <i class="fas fa-user"></i> Account
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1 class="mt-5">Welcome to E-Store!</h1>
        <p class="lead">Your one-stop shop for all your needs.</p>
    </div>
    <!-- <div class="modal fade" id="searchResultsModal" tabindex="-1" role="dialog" aria-labelledby="searchResultsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchResultsModalLabel">Search Results</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="searchResults">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script>
        $(document).ready(function() {
            $('#searchForm').on('submit', function(e) {
                e.preventDefault();
                var query = $('#productSearch').val();
                $.ajax({
                    url: '/search',
                    data: { query: query },
                    success: function(data) {
                        console.log('Response data:', data);
                        var modalBody = $('#searchResultsModal .modal-body');
                        modalBody.empty();
                        data.forEach(function(product) {
                            var resultHtml = '<div class="searchResult">' +
                                '<h4>' + product.name + '</h4>' +
                                '<p>' + product.price + '</p>' +
                                '<button class="btn btn-primary add-to-cart" data-product-id="' + product.id + '">Add to Cart</button>' +
                                '</div>';
                            modalBody.append(resultHtml);
                        });
                        $('#searchResultsModal').modal('show');
                    }
                });
            });
        
            $(document).on('click', '.add-to-cart', function() {
                var productId = $(this).data('product-id');
                $.post('/add-to-cart', { productId: productId }, function(response) {
                    alert('Product added to cart!');
                });
            });
        });
    </script> -->
</body>
</html>