<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style/registration.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="area">
    <ul class="circles">
    </ul>

    <div class="context">
        <h2>Registration</h2>
        
        <form method="post" th:action="@{/registration?success}">
            <label for="name">Name</label><br>
            <input type="text" id="name" placeholder="Ievadi savu vārdu" minlength="4" maxlength="30" required><br>
            
            <label for="username">Surname</label><br>
            <input type="text" id="username" placeholder="Ievadi savu Uzvārdu" minlength="4" maxlength="30" required><br>
            
            <!-- <label for="group">Group</label><br>
            <select name="" id="group">
                <option value="DP2-1">DP2-1</option>
                <option value="DP2-2">DP2-2</option>
                <option value="DP2-1">DP2-3</option>
                <option value="DP2-2">DP2-4</option>
            </select><br> -->
            
            <label for="Age">Age</label><br>
            <input type="number" id="Age" placeholder="Ievadi savu vecumu" min="6" max="120"><br>
            <label for="Bday">Bday</label><br>
            <input type="date" id="Day" placeholder="dzimšanas Gads"><br>
            
            <input type ="submit" value="Reģistrēties">
        </form>
    </div>
</body>
</html> 