<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/shoppin.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>
    <div>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">E-Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/shoppin" >Shop Now!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/YourCart ">Your Cart</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="/login" th:if="${session.person == null}">
                        <i class="fas fa-user-plus"></i> Login
                    </a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link btn btn-primary" href="/profile" th:if="${session.person != null}">
                        <i class="fas fa-user"></i> Account
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="dropdown sort-dropdown">
        <button class="dropbtn">Sort Products</button>
        <div class="dropdown-content">
            <form th:action="@{/shoppin/sort}" method="post">
                <button name="sort" value="higher" id="sort-button-higher">Sort by Higher Price</button>
                <button name="sort" value="lower" id="sort-button-lower">Sort by Lower Price</button>
                <button name="sort" value="A-Z" id="sort-button-newest">Sort A-Z</button>
            </form>
        </div>
    </div>
    <div class="dropdown filter-dropdown">
        <button class="dropbtn">Filter Products</button>
        <div class="dropdown-content">
            <form th:action="@{/shoppin/filter}" method="post">
                <button name="filter" value="auglis" id="sort-button-auglis">auglis</button>
                <button name="filter" value="darzenis" id="sort-button-darzens">darzenis</button>
                <button name="filter" value="piena produkts" id="sort-button-piens">piena produkts</button>
                <button name="filter" value="saldumi" id="sort-button-saldums">saldumi</button>
                <button name="filter" value="gaļa" id="sort-button-gala">gaļa</button>
                <button name="filter" value="dzēriens" id="sort-button-dzeriens">dzēriens</button>
            </form>
        </div>
    </div>

    <div id="product-container" class="container">
        <div th:each="product : ${products}" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 product-card" th:attr="'data-price'=${product.price}">
                <div class="card-body">
                    <h2 class="product-name" th:text="${product.name}"></h2>
                    <p class="product-description" th:text="${product.description}"></p>
                    <h5 class="product-price" th:text="${product.price + ' $'}"></h5>
                    <form th:action="@{/add-to-cart}" method="post">
                        <input type="hidden" th:value="${product.id}" name="productId">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>