<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">E-Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/shoppin" >Shop Now!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/YourCart">Your Cart</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="/login" th:if="${session.person == null}">
                            <i class="fas fa-user-plus"></i> Login
                        </a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link btn btn-primary" href="/profile" th:if="${session.person != null}">
                            <i class="fas fa-user"></i> Account
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="context">
    <h1>Your Shopping Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${cart.items}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price} + ' $'"></td>
                <td>
                    <form action="/delete-product" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <p th:if="${#lists.isEmpty(cart.items)}">Your cart is empty.</p>
    
    <button th:if="${!#lists.isEmpty(cart.items)}" onclick="location.href='/checkout'" class="btn btn-primary">Proceed to Checkout</button>
</div>

<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

</body>
</html>